<%- include('../templates/header.ejs') %>
<main class="container my-5">
    <h1>Create Account</h1>
    <form action="/auth/register" method="POST" style="max-width: 400px;">
        <div class="mb-3">
            <label>Login</label>
            <input type="text" name="login" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>Email</label>
            <input type="email" name="email" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>Password</label>
            <input type="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
        <a href="/auth/login" class="btn btn-link">I have an account</a>
    </form>
</main>
</body></html>
